@import '../../styles/variables.scss';
@import '../../styles/_mixins.scss';

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-fixed;
    background-color: $body-color;

    @include breakpoint(md) {
        top: initial;
        bottom: 0;
    }

    .nav {
        height: calc(#{$header-height} + 1.5rem);
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 1rem;

        @include breakpoint(md) {
            height: $header-height;
        }

        .nav_logo {
            line-height: 0;
            display: inline-flex;
            align-items: center;
            color: $headline-main-color;
            font-weight: weight(medium);

            @include breakpoint(sm) {
                font-size: size(normal);
            }

            img {
                height: 28px;
                max-height: calc(#{$header-height} - 12px);
                width: auto;
                display: block;
                object-fit: contain;
            }
        }

        .nav_menu {
            @include breakpoint(md) {
                position: fixed;
                bottom: -100%;
                left: 0;
                width: 100%;
                background-color: $body-color;
                padding: 2rem 1.5rem 4rem;
                box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
                border-radius: 1.5rem 1.5rem 0 0;
                transition: 0.3s ease;
            }

            @include breakpoint(sm) {
                padding: 2rem 0.25rem 4rem;
            }

            &.show-menu {
                @include breakpoint(md) {
                    bottom: 0;
                }
            }
        }

        .nav_list {
            display: flex;
            column-gap: 2rem;

            @include breakpoint(md) {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 2rem;
            }

            @include breakpoint(sm) {
                column-gap: 0;
            }
        }

        .nav_link {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: size(small);
            color: $first-color;
            font-weight: weight(medium);
            transition: 0.3s ease;

            &:hover {
                color: $headline-main-color;
            }
        }

        .active_link {
            color: $headline-main-color;
        }

        .nav_icon,
        .nav_close,
        .nav_toggle {
            display: none;
        }

        .nav_icon {
            @include breakpoint(md) {
                display: block;
                font-size: 1.2rem;
            }
        }

        .nav_close,
        .nav_toggle {
            border: none;
            outline: none;
            background: transparent;
            padding: 0;
            color: $headline-main-color;
            cursor: pointer;
        }

        .nav_close {
            @include breakpoint(md) {
                display: block;
                position: absolute;
                right: 1.3rem;
                bottom: 0.5rem;
                font-size: 1.5rem;

                &:hover {
                    color: $text-color;
                }
            }
        }

        .nav_toggle {
            @include breakpoint(md) {
                display: block;
                font-size: 1.1rem;
            }
        }
    }
}

/* Change Background Header */
.scroll-header {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);

    @include breakpoint(md) {
        box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    }
}